<%= form_for @changeset, profile_path(@conn, :update), fn f -> %>
  <%= fieldset_tag f, :username, class: "form-group", error_class: "has-error" do %>
    <%= label f, :username %>
    <%= text_input f, :username, class: "form-control" %>
  <% end %>

  <%= submit "Save", class: "btn btn-primary" %>
<% end %>
