<h1>Edit username</h1>
<form action="<%= profile_path(@conn, :update, @user.id) %>" method="post">
  <div class="form-group">
    <input type="hidden" name="_csrf_token" value="<%= get_csrf_token %>">
    <input type="hidden" name="_method" value="put">

    <label for="user[username]">Username</label>
    <input type="text" name="user[username]" class="form-control" value="<%= @user.username %>" />
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>