<div class="jumbotron text-center">
  <h2>Mana</h2>
  <p class="lead">Multiplayer minesweeper</p>
  <img src="https://image.spreadshirtmedia.com/image-server/v1/designs/11129866.png" />
  <br>
  <br>
  <%= link "Join game", to: page_path(@conn, :play), class: "btn btn-lg btn-primary" %>
</div>
